data/*Ferrante*
code/Bash-scripts/Trinity-bash-scripts/stdout*
code/Bash-scripts/Misc-scripts/stdout*
code/Bash-scripts/FastQC-bash-scripts/stdout*
data/CL*.txt
data/CS*.txt
data/NoCL*.txt
test/data-test/skeletonema-pairend-data/fastq_quality_filter_results/*.txt
test/data-test/skeletonema-pairend-data/fastq_quality_filter_reports/*.txt
test/data-test/skeletonema-pairend-data/cutadapts_reports/*.txt
test/data-test/skeletonema-pairend-data/cutadapts_results/*.txt
test/data-test/skeletonema-pairend-data/fastq_quality_filter_results/*.readcount
test/data-test/rna-sex/fastq_quality_filter_results/FastQC-report/*
test/data-test/rna-sex/fastq_quality_filter_reports/*-report.txt
test/data-test/rna-sex/fastq_quality_filter_results/*q-filt.txt
test/data-test/rna-sex/cutadapts_results/*adaptrim.txt
data/rna-sex-data/fastqc_results/*
test/data-test/rna-sex/cutadapts_reports/*
test/data-test/skeletonema-pairend-data/cutadapts_reports/*
data/pairedend-data/fastqc-results-pairedend-data/*
data/rna-sex-data/*.txt
data/pairedend-data/*.fastq
